
# Godot-specific ignores
.import/
export.cfg
export_presets.cfg
addons/windows64/
submodule/py4godot
# Mono-specific ignores
.mono/
data_*/
/addons/windows64/py4godot/
/addons/windows64/
/addons/windows64/cpython-3.9.7-windows64/
/log.txt/debugpy.adapter-1252.log
/log.txt/debugpy.adapter-1512.log
/log.txt/debugpy.adapter-1708.log
/log.txt/debugpy.adapter-1916.log
/log.txt/debugpy.adapter-2136.log
/log.txt/debugpy.adapter-2444.log
/log.txt/debugpy.adapter-2484.log
/log.txt/debugpy.adapter-3488.log
/log.txt/debugpy.adapter-3528.log
/log.txt/debugpy.adapter-3596.log
/log.txt/debugpy.adapter-3608.log
/log.txt/debugpy.adapter-3732.log
/log.txt/debugpy.adapter-3948.log
/log.txt/debugpy.adapter-3956.log
/log.txt/debugpy.adapter-4180.log
/log.txt/debugpy.adapter-4332.log
/log.txt/debugpy.adapter-4456.log
/log.txt/debugpy.adapter-4924.log
/log.txt/debugpy.adapter-5032.log
/log.txt/debugpy.adapter-5036.log
/log.txt/debugpy.adapter-5588.log
/log.txt/debugpy.adapter-5624.log
/log.txt/debugpy.adapter-5684.log
/log.txt/debugpy.adapter-5772.log
/log.txt/debugpy.adapter-5952.log
/log.txt/debugpy.adapter-6288.log
/log.txt/debugpy.adapter-6472.log
/log.txt/debugpy.adapter-6628.log
/log.txt/debugpy.adapter-6760.log
/log.txt/debugpy.adapter-7388.log
/log.txt/debugpy.adapter-7440.log
/log.txt/debugpy.adapter-7492.log
/log.txt/debugpy.adapter-7516.log
/log.txt/debugpy.adapter-7692.log
/log.txt/debugpy.adapter-8700.log
/log.txt/debugpy.adapter-8732.log
/log.txt/debugpy.adapter-8752.log
/log.txt/debugpy.adapter-8832.log
/log.txt/debugpy.adapter-8888.log
/log.txt/debugpy.adapter-9272.log
/log.txt/debugpy.adapter-9340.log
/log.txt/debugpy.adapter-9496.log
/log.txt/debugpy.adapter-9608.log
/log.txt/debugpy.adapter-9808.log
/log.txt/debugpy.adapter-10196.log
/log.txt/debugpy.adapter-10524.log
/log.txt/debugpy.adapter-10644.log
/log.txt/debugpy.adapter-10780.log
/log.txt/debugpy.adapter-10940.log
/log.txt/debugpy.adapter-11088.log
/log.txt/debugpy.adapter-11200.log
/log.txt/debugpy.adapter-11292.log
/log.txt/debugpy.adapter-11388.log
/log.txt/debugpy.adapter-11436.log
/log.txt/debugpy.adapter-11476.log
/log.txt/debugpy.adapter-11596.log
/log.txt/debugpy.adapter-11632.log
/log.txt/debugpy.adapter-11728.log
/log.txt/debugpy.adapter-11968.log
/log.txt/debugpy.adapter-12004.log
/log.txt/debugpy.adapter-12044.log
/log.txt/debugpy.adapter-12212.log
/log.txt/debugpy.adapter-12520.log
/log.txt/debugpy.adapter-12620.log
/log.txt/debugpy.adapter-13324.log
/log.txt/debugpy.adapter-13448.log
/log.txt/debugpy.adapter-13460.log
/log.txt/debugpy.adapter-13744.log
/log.txt/debugpy.adapter-14688.log
/log.txt/debugpy.adapter-14852.log
/log.txt/debugpy.adapter-15000.log
/log.txt/debugpy.adapter-15172.log
/log.txt/debugpy.adapter-15784.log
/log.txt/debugpy.adapter-15836.log
/log.txt/debugpy.adapter-15864.log
/log.txt/debugpy.adapter-15876.log
/log.txt/debugpy.adapter-16056.log
/log.txt/debugpy.adapter-16060.log
/log.txt/debugpy.adapter-16320.log
/log.txt/debugpy.adapter-16332.log
/log.txt/debugpy.adapter-16396.log
/log.txt/debugpy.adapter-17012.log
/log.txt/debugpy.adapter-17520.log
/log.txt/debugpy.adapter-17856.log
/log.txt/debugpy.adapter-17996.log
/log.txt/debugpy.adapter-18416.log
/log.txt/debugpy.adapter-18516.log
/log.txt/debugpy.adapter-18968.log
/log.txt/debugpy.adapter-19028.log
/log.txt/debugpy.adapter-19080.log
/log.txt/debugpy.adapter-19488.log
/log.txt/debugpy.adapter-19540.log
/log.txt/debugpy.adapter-19636.log
/log.txt/debugpy.adapter-19800.log
/log.txt/debugpy.adapter-20012.log
/log.txt/debugpy.adapter-20028.log
/log.txt/debugpy.adapter-20212.log
/log.txt/debugpy.adapter-20272.log
/log.txt/debugpy.adapter-20324.log
/log.txt/debugpy.adapter-20444.log
/log.txt/debugpy.adapter-20620.log
/log.txt/debugpy.adapter-21072.log
/log.txt/debugpy.adapter-21116.log
/log.txt/debugpy.adapter-21156.log
/log.txt/debugpy.adapter-21372.log
/log.txt/debugpy.adapter-21684.log
/log.txt/debugpy.adapter-21708.log
/log.txt/debugpy.adapter-21744.log
/log.txt/debugpy.adapter-21808.log
/log.txt/debugpy.adapter-22024.log
/log.txt/debugpy.adapter-22072.log
/log.txt/debugpy.adapter-22636.log
/log.txt/debugpy.adapter-22732.log
/log.txt/debugpy.adapter-23012.log
/log.txt/debugpy.adapter-23060.log
/log.txt/debugpy.adapter-23196.log
/log.txt/debugpy.adapter-23396.log
/log.txt/debugpy.adapter-23428.log
/log.txt/debugpy.adapter-23668.log
/log.txt/debugpy.adapter-23684.log
/log.txt/debugpy.adapter-23700.log
/log.txt/debugpy.adapter-23948.log
/log.txt/debugpy.adapter-23972.log
/log.txt/debugpy.adapter-24208.log
/log.txt/debugpy.adapter-24420.log
/log.txt/debugpy.adapter-24428.log
/log.txt/debugpy.adapter-24716.log
/log.txt/debugpy.adapter-24824.log
/log.txt/debugpy.adapter-25012.log
/log.txt/debugpy.adapter-25120.log
/log.txt/debugpy.adapter-25608.log
/log.txt/debugpy.adapter-25704.log
/log.txt/debugpy.adapter-25996.log
/log.txt/debugpy.adapter-26048.log
/log.txt/debugpy.adapter-26052.log
/log.txt/debugpy.adapter-26056.log
/log.txt/debugpy.adapter-26088.log
/log.txt/debugpy.adapter-26504.log
/log.txt/debugpy.adapter-26664.log
/log.txt/debugpy.adapter-28352.log
/log.txt/debugpy.adapter-28884.log
/log.txt/debugpy.adapter-29088.log
/log.txt/debugpy.adapter-29384.log
/log.txt/debugpy.adapter-29892.log
/log.txt/debugpy.adapter-30024.log
/log.txt/debugpy.adapter-30032.log
/log.txt/debugpy.adapter-30300.log
/log.txt/debugpy.adapter-30384.log
/log.txt/debugpy.adapter-30420.log
/log.txt/debugpy.adapter-30760.log
/log.txt/debugpy.adapter-30936.log
/log.txt/debugpy.adapter-31516.log
/log.txt/debugpy.adapter-31732.log
/log.txt/debugpy.adapter-32104.log
/log.txt/debugpy.adapter-32280.log
/log.txt/debugpy.adapter-32316.log
/log.txt/debugpy.adapter-32340.log
/log.txt/debugpy.adapter-32636.log
/log.txt/debugpy.adapter-32640.log
/log.txt/debugpy.adapter-32700.log
/log.txt/debugpy.adapter-32788.log
/log.txt/debugpy.adapter-32816.log
/log.txt/debugpy.adapter-33004.log
/log.txt/debugpy.adapter-33016.log
/log.txt/debugpy.adapter-34384.log
/log.txt/debugpy.adapter-34396.log
/log.txt/debugpy.adapter-34864.log
/log.txt/debugpy.adapter-34924.log
/log.txt/debugpy.adapter-35064.log
/log.txt/debugpy.adapter-35104.log
/log.txt/debugpy.adapter-35272.log
/log.txt/debugpy.adapter-35376.log
/log.txt/debugpy.adapter-35516.log
/log.txt/debugpy.adapter-35648.log
/log.txt/debugpy.adapter-35980.log
/log.txt/debugpy.adapter-36016.log
/log.txt/debugpy.adapter-36044.log
/log.txt/debugpy.adapter-36088.log
/log.txt/debugpy.adapter-36328.log
/log.txt/debugpy.adapter-36828.log
/log.txt/debugpy.adapter-37024.log
/log.txt/debugpy.adapter-37240.log
/log.txt/debugpy.adapter-37292.log
/log.txt/debugpy.adapter-37788.log
/log.txt/debugpy.adapter-37792.log
/log.txt/debugpy.adapter-38124.log
/log.txt/debugpy.adapter-38304.log
/log.txt/debugpy.adapter-38428.log
/log.txt/debugpy.adapter-38532.log
/log.txt/debugpy.adapter-38800.log
/log.txt/debugpy.adapter-40468.log
/log.txt/debugpy.adapter-40720.log
/log.txt/debugpy.adapter-40812.log
/log.txt/debugpy.adapter-40904.log
/log.txt/debugpy.pydevd.332.log
/log.txt/debugpy.pydevd.600.log
/log.txt/debugpy.pydevd.784.log
/log.txt/debugpy.pydevd.1516.log
/log.txt/debugpy.pydevd.1664.log
/log.txt/debugpy.pydevd.2576.log
/log.txt/debugpy.pydevd.2716.log
/log.txt/debugpy.pydevd.2720.log
/log.txt/debugpy.pydevd.3924.log
/log.txt/debugpy.pydevd.4256.log
/log.txt/debugpy.pydevd.4436.log
/log.txt/debugpy.pydevd.4832.log
/log.txt/debugpy.pydevd.4852.log
/log.txt/debugpy.pydevd.5216.log
/log.txt/debugpy.pydevd.5284.log
/log.txt/debugpy.pydevd.5396.log
/log.txt/debugpy.pydevd.5716.log
/log.txt/debugpy.pydevd.6340.log
/log.txt/debugpy.pydevd.6408.log
/log.txt/debugpy.pydevd.6500.log
/log.txt/debugpy.pydevd.6512.log
/log.txt/debugpy.pydevd.6664.log
/log.txt/debugpy.pydevd.7408.log
/log.txt/debugpy.pydevd.7828.log
/log.txt/debugpy.pydevd.7864.log
/log.txt/debugpy.pydevd.8368.log
/log.txt/debugpy.pydevd.8796.log
/log.txt/debugpy.pydevd.9004.log
/log.txt/debugpy.pydevd.9272.log
/log.txt/debugpy.pydevd.9404.log
/log.txt/debugpy.pydevd.9960.log
/log.txt/debugpy.pydevd.10216.log
/log.txt/debugpy.pydevd.10288.log
/log.txt/debugpy.pydevd.10436.log
/log.txt/debugpy.pydevd.10592.log
/log.txt/debugpy.pydevd.11320.log
/log.txt/debugpy.pydevd.11524.log
/log.txt/debugpy.pydevd.11620.log
/log.txt/debugpy.pydevd.11904.log
/log.txt/debugpy.pydevd.11920.log
/log.txt/debugpy.pydevd.12020.log
/log.txt/debugpy.pydevd.12604.log
/log.txt/debugpy.pydevd.12968.log
/log.txt/debugpy.pydevd.13000.log
/log.txt/debugpy.pydevd.13560.log
/log.txt/debugpy.pydevd.13612.log
/log.txt/debugpy.pydevd.13828.log
/log.txt/debugpy.pydevd.13848.log
/log.txt/debugpy.pydevd.13924.log
/log.txt/debugpy.pydevd.13976.log
/log.txt/debugpy.pydevd.13984.log
/log.txt/debugpy.pydevd.14076.log
/log.txt/debugpy.pydevd.14308.log
/log.txt/debugpy.pydevd.14568.log
/log.txt/debugpy.pydevd.14628.log
/log.txt/debugpy.pydevd.14780.log
/log.txt/debugpy.pydevd.14888.log
/log.txt/debugpy.pydevd.14904.log
/log.txt/debugpy.pydevd.15104.log
/log.txt/debugpy.pydevd.15108.log
/log.txt/debugpy.pydevd.15800.log
/log.txt/debugpy.pydevd.15856.log
/log.txt/debugpy.pydevd.15932.log
/log.txt/debugpy.pydevd.16028.log
/log.txt/debugpy.pydevd.16352.log
/log.txt/debugpy.pydevd.16612.log
/log.txt/debugpy.pydevd.16836.log
/log.txt/debugpy.pydevd.16880.log
/log.txt/debugpy.pydevd.17144.log
/log.txt/debugpy.pydevd.17200.log
/log.txt/debugpy.pydevd.17916.log
/log.txt/debugpy.pydevd.18252.log
/log.txt/debugpy.pydevd.18620.log
/log.txt/debugpy.pydevd.18856.log
/log.txt/debugpy.pydevd.18876.log
/log.txt/debugpy.pydevd.19044.log
/log.txt/debugpy.pydevd.19396.log
/log.txt/debugpy.pydevd.19508.log
/log.txt/debugpy.pydevd.19548.log
/log.txt/debugpy.pydevd.19892.log
/log.txt/debugpy.pydevd.20012.log
/log.txt/debugpy.pydevd.20044.log
/log.txt/debugpy.pydevd.20060.log
/log.txt/debugpy.pydevd.20224.log
/log.txt/debugpy.pydevd.20456.log
/log.txt/debugpy.pydevd.20788.log
/log.txt/debugpy.pydevd.20932.log
/log.txt/debugpy.pydevd.20988.log
/log.txt/debugpy.pydevd.21404.log
/log.txt/debugpy.pydevd.21432.log
/log.txt/debugpy.pydevd.21580.log
/log.txt/debugpy.pydevd.21608.log
/log.txt/debugpy.pydevd.21764.log
/log.txt/debugpy.pydevd.21816.log
/log.txt/debugpy.pydevd.22068.log
/log.txt/debugpy.pydevd.22152.log
/log.txt/debugpy.pydevd.22448.log
/log.txt/debugpy.pydevd.22892.log
/log.txt/debugpy.pydevd.23196.log
/log.txt/debugpy.pydevd.23308.log
/log.txt/debugpy.pydevd.23620.log
/log.txt/debugpy.pydevd.23824.log
/log.txt/debugpy.pydevd.24044.log
/log.txt/debugpy.pydevd.24172.log
/log.txt/debugpy.pydevd.24604.log
/log.txt/debugpy.pydevd.24660.log
/log.txt/debugpy.pydevd.24728.log
/log.txt/debugpy.pydevd.25276.log
/log.txt/debugpy.pydevd.25384.log
/log.txt/debugpy.pydevd.25440.log
/log.txt/debugpy.pydevd.25628.log
/log.txt/debugpy.pydevd.25892.log
/log.txt/debugpy.pydevd.26040.log
/log.txt/debugpy.pydevd.26052.log
/log.txt/debugpy.pydevd.26160.log
/log.txt/debugpy.pydevd.26232.log
/log.txt/debugpy.pydevd.26284.log
/log.txt/debugpy.pydevd.26756.log
/log.txt/debugpy.pydevd.26844.log
/log.txt/debugpy.pydevd.27372.log
/log.txt/debugpy.pydevd.27632.log
/log.txt/debugpy.pydevd.28380.log
/log.txt/debugpy.pydevd.28716.log
/log.txt/debugpy.pydevd.28736.log
/log.txt/debugpy.pydevd.29044.log
/log.txt/debugpy.pydevd.29192.log
/log.txt/debugpy.pydevd.30012.log
/log.txt/debugpy.pydevd.30316.log
/log.txt/debugpy.pydevd.30500.log
/log.txt/debugpy.pydevd.30812.log
/log.txt/debugpy.pydevd.31048.log
/log.txt/debugpy.pydevd.31488.log
/log.txt/debugpy.pydevd.31496.log
/log.txt/debugpy.pydevd.31696.log
/log.txt/debugpy.pydevd.31884.log
/log.txt/debugpy.pydevd.31932.log
/log.txt/debugpy.pydevd.32212.log
/log.txt/debugpy.pydevd.32604.log
/log.txt/debugpy.pydevd.33076.log
/log.txt/debugpy.pydevd.33088.log
/log.txt/debugpy.pydevd.33104.log
/log.txt/debugpy.pydevd.33340.log
/log.txt/debugpy.pydevd.33380.log
/log.txt/debugpy.pydevd.33608.log
/log.txt/debugpy.pydevd.33672.log
/log.txt/debugpy.pydevd.33928.log
/log.txt/debugpy.pydevd.33944.log
/log.txt/debugpy.pydevd.33984.log
/log.txt/debugpy.pydevd.34036.log
/log.txt/debugpy.pydevd.34056.log
/log.txt/debugpy.pydevd.34332.log
/log.txt/debugpy.pydevd.34580.log
/log.txt/debugpy.pydevd.34596.log
/log.txt/debugpy.pydevd.34616.log
/log.txt/debugpy.pydevd.34840.log
/log.txt/debugpy.pydevd.34900.log
/log.txt/debugpy.pydevd.35428.log
/log.txt/debugpy.pydevd.36016.log
/log.txt/debugpy.pydevd.36236.log
/log.txt/debugpy.pydevd.36416.log
/log.txt/debugpy.pydevd.36888.log
/log.txt/debugpy.pydevd.36912.log
/log.txt/debugpy.pydevd.37000.log
/log.txt/debugpy.pydevd.37020.log
/log.txt/debugpy.pydevd.37540.log
/log.txt/debugpy.pydevd.38020.log
/log.txt/debugpy.pydevd.38144.log
/log.txt/debugpy.pydevd.38260.log
/log.txt/debugpy.pydevd.38424.log
/log.txt/debugpy.pydevd.39072.log
/log.txt/debugpy.pydevd.39104.log
/log.txt/debugpy.pydevd.39184.log
/log.txt/debugpy.pydevd.39480.log
/log.txt/debugpy.pydevd.39588.log
/log.txt/debugpy.pydevd.39664.log
/log.txt/debugpy.pydevd.39800.log
/log.txt/debugpy.pydevd.39888.log
/log.txt/debugpy.pydevd.40064.log
/log.txt/debugpy.pydevd.40344.log
/log.txt/debugpy.server-332.log
/log.txt/debugpy.server-600.log
/log.txt/debugpy.server-784.log
/log.txt/debugpy.server-1516.log
/log.txt/debugpy.server-1664.log
/log.txt/debugpy.server-2576.log
/log.txt/debugpy.server-2716.log
/log.txt/debugpy.server-2720.log
/log.txt/debugpy.server-3924.log
/log.txt/debugpy.server-4256.log
/log.txt/debugpy.server-4436.log
/log.txt/debugpy.server-4832.log
/log.txt/debugpy.server-4852.log
/log.txt/debugpy.server-5216.log
/log.txt/debugpy.server-5284.log
/log.txt/debugpy.server-5396.log
/log.txt/debugpy.server-5716.log
/log.txt/debugpy.server-6340.log
/log.txt/debugpy.server-6408.log
/log.txt/debugpy.server-6500.log
/log.txt/debugpy.server-6512.log
/log.txt/debugpy.server-6664.log
/log.txt/debugpy.server-7408.log
/log.txt/debugpy.server-7828.log
/log.txt/debugpy.server-7864.log
/log.txt/debugpy.server-8368.log
/log.txt/debugpy.server-8424.log
/log.txt/debugpy.server-8796.log
/log.txt/debugpy.server-9004.log
/log.txt/debugpy.server-9264.log
/log.txt/debugpy.server-9272.log
/log.txt/debugpy.server-9404.log
/log.txt/debugpy.server-9960.log
/log.txt/debugpy.server-10216.log
/log.txt/debugpy.server-10288.log
/log.txt/debugpy.server-10436.log
/log.txt/debugpy.server-10592.log
/log.txt/debugpy.server-10940.log
/log.txt/debugpy.server-11320.log
/log.txt/debugpy.server-11524.log
/log.txt/debugpy.server-11620.log
/log.txt/debugpy.server-11904.log
/log.txt/debugpy.server-11920.log
/log.txt/debugpy.server-12020.log
/log.txt/debugpy.server-12100.log
/log.txt/debugpy.server-12604.log
/log.txt/debugpy.server-12620.log
/log.txt/debugpy.server-12968.log
/log.txt/debugpy.server-13000.log
/log.txt/debugpy.server-13560.log
/log.txt/debugpy.server-13612.log
/log.txt/debugpy.server-13828.log
/log.txt/debugpy.server-13848.log
/log.txt/debugpy.server-13924.log
/log.txt/debugpy.server-13976.log
/log.txt/debugpy.server-13984.log
/log.txt/debugpy.server-14076.log
/log.txt/debugpy.server-14308.log
/log.txt/debugpy.server-14568.log
/log.txt/debugpy.server-14628.log
/log.txt/debugpy.server-14780.log
/log.txt/debugpy.server-14888.log
/log.txt/debugpy.server-14904.log
/log.txt/debugpy.server-15104.log
/log.txt/debugpy.server-15108.log
/log.txt/debugpy.server-15452.log
/log.txt/debugpy.server-15800.log
/log.txt/debugpy.server-15856.log
/log.txt/debugpy.server-15932.log
/log.txt/debugpy.server-16028.log
/log.txt/debugpy.server-16352.log
/log.txt/debugpy.server-16612.log
/log.txt/debugpy.server-16836.log
/log.txt/debugpy.server-16880.log
/log.txt/debugpy.server-17144.log
/log.txt/debugpy.server-17200.log
/log.txt/debugpy.server-17916.log
/log.txt/debugpy.server-18252.log
/log.txt/debugpy.server-18620.log
/log.txt/debugpy.server-18856.log
/log.txt/debugpy.server-18876.log
/log.txt/debugpy.server-19044.log
/log.txt/debugpy.server-19396.log
/log.txt/debugpy.server-19508.log
/log.txt/debugpy.server-19548.log
/log.txt/debugpy.server-19892.log
/log.txt/debugpy.server-20012.log
/log.txt/debugpy.server-20044.log
/log.txt/debugpy.server-20060.log
/log.txt/debugpy.server-20224.log
/log.txt/debugpy.server-20456.log
/log.txt/debugpy.server-20788.log
/log.txt/debugpy.server-20932.log
/log.txt/debugpy.server-20988.log
/log.txt/debugpy.server-21404.log
/log.txt/debugpy.server-21432.log
/log.txt/debugpy.server-21580.log
/log.txt/debugpy.server-21608.log
/log.txt/debugpy.server-21764.log
/log.txt/debugpy.server-21816.log
/log.txt/debugpy.server-22068.log
/log.txt/debugpy.server-22152.log
/log.txt/debugpy.server-22448.log
/log.txt/debugpy.server-22892.log
/log.txt/debugpy.server-23196.log
/log.txt/debugpy.server-23308.log
/log.txt/debugpy.server-23620.log
/log.txt/debugpy.server-23764.log
/log.txt/debugpy.server-23824.log
/log.txt/debugpy.server-24044.log
/log.txt/debugpy.server-24172.log
/log.txt/debugpy.server-24604.log
/log.txt/debugpy.server-24660.log
/log.txt/debugpy.server-24728.log
/log.txt/debugpy.server-25276.log
/log.txt/debugpy.server-25384.log
/log.txt/debugpy.server-25440.log
/log.txt/debugpy.server-25628.log
/log.txt/debugpy.server-25892.log
/log.txt/debugpy.server-26040.log
/log.txt/debugpy.server-26052.log
/log.txt/debugpy.server-26160.log
/log.txt/debugpy.server-26232.log
/log.txt/debugpy.server-26284.log
/log.txt/debugpy.server-26476.log
/log.txt/debugpy.server-26756.log
/log.txt/debugpy.server-26844.log
/log.txt/debugpy.server-27372.log
/log.txt/debugpy.server-27632.log
/log.txt/debugpy.server-28380.log
/log.txt/debugpy.server-28716.log
/log.txt/debugpy.server-28736.log
/log.txt/debugpy.server-29044.log
/log.txt/debugpy.server-29192.log
/log.txt/debugpy.server-30012.log
/log.txt/debugpy.server-30316.log
/log.txt/debugpy.server-30500.log
/log.txt/debugpy.server-30812.log
/log.txt/debugpy.server-31048.log
/log.txt/debugpy.server-31104.log
/log.txt/debugpy.server-31488.log
/log.txt/debugpy.server-31496.log
/log.txt/debugpy.server-31696.log
/log.txt/debugpy.server-31884.log
/log.txt/debugpy.server-31932.log
/log.txt/debugpy.server-32212.log
/log.txt/debugpy.server-32604.log
/log.txt/debugpy.server-32660.log
/log.txt/debugpy.server-33076.log
/log.txt/debugpy.server-33088.log
/log.txt/debugpy.server-33104.log
/log.txt/debugpy.server-33340.log
/log.txt/debugpy.server-33380.log
/log.txt/debugpy.server-33608.log
/log.txt/debugpy.server-33672.log
/log.txt/debugpy.server-33928.log
/log.txt/debugpy.server-33944.log
/log.txt/debugpy.server-33984.log
/log.txt/debugpy.server-34036.log
/log.txt/debugpy.server-34056.log
/log.txt/debugpy.server-34264.log
/log.txt/debugpy.server-34332.log
/log.txt/debugpy.server-34580.log
/log.txt/debugpy.server-34596.log
/log.txt/debugpy.server-34616.log
/log.txt/debugpy.server-34840.log
/log.txt/debugpy.server-34900.log
/log.txt/debugpy.server-35428.log
/log.txt/debugpy.server-36016.log
/log.txt/debugpy.server-36236.log
/log.txt/debugpy.server-36416.log
/log.txt/debugpy.server-36888.log
/log.txt/debugpy.server-36912.log
/log.txt/debugpy.server-37000.log
/log.txt/debugpy.server-37020.log
/log.txt/debugpy.server-37540.log
/log.txt/debugpy.server-38020.log
/log.txt/debugpy.server-38144.log
/log.txt/debugpy.server-38260.log
/log.txt/debugpy.server-38424.log
/log.txt/debugpy.server-39072.log
/log.txt/debugpy.server-39104.log
/log.txt/debugpy.server-39184.log
/log.txt/debugpy.server-39204.log
/log.txt/debugpy.server-39480.log
/log.txt/debugpy.server-39588.log
/log.txt/debugpy.server-39664.log
/log.txt/debugpy.server-39800.log
/log.txt/debugpy.server-39888.log
/log.txt/debugpy.server-40064.log
/log.txt/debugpy.server-40344.log
/.idea/codeStyles/codeStyleConfig.xml
